body{
    @media(min-width:768px){
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background-color:#D2DFEB;
    }
    main{
        @media(min-width:768px){
            background: linear-gradient(90deg, #f5f7fa 50%, rgba(243, 243, 243, 0.957) 50%);
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
            width: 80%; 
            min-height: 60vh;
            height: auto;
            padding: 1em;
            display: flex;
            justify-content: space-around;
            border-radius: 25px;
            width: 75%;
        }
        @media(min-width:1024px){
            width: 60%;
        }
        @media(min-width:2000px){
            width: 45%;
        }
    }
    section{
        @media(min-width:768px){
            width: 45%;
        }
        
        #img-container{
            @media(min-width:768px){    
                margin-top: 1em;
            }
        }
        .product-image {
            width: 100%;
            height: auto;
            aspect-ratio: 4/3;
            object-fit: cover;
            @media(min-width:768px){
                border-radius: 12px;
                height: auto;
                min-height: 120px;
                max-height: 300px;
            }
        }
        .img-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            @media(min-width:768px){
                justify-content: flex-start;
                flex-wrap: wrap;
            }
            img{
                height: 60px;
                width: 100px;
                border-radius: 12px;
                padding: 4px;
                cursor: pointer;
                @media(min-width:768px){
                    width:  95px;
                }
            }
        }
        #product-details {
            display: flex;
            margin-top: 20px;
            justify-content: center;
            @media(min-width:768px){
                justify-content: flex-start;
            }
            .active{
                font-weight:bold;
            }
            p{
                cursor: pointer;
                font-size: 12px;
                @media(min-width:768px){
                    font-size: 14px;
                }
                @media(min-width:1024px){
                    font-size: 16px;
                }
            }
            p + p {
                margin-left:1em;
            }
        }
        #product-description {
            margin-top: 1em;
            overflow-y: auto;
            max-height: 40vh;
            @media(min-width:768px){
                max-height: 50vh;
            }
            @media(min-width:1024px){
                max-height: 40vh;
            }
            li{
                 padding-bottom: 1em;
                 font-size: 12px;
                 padding-right: 15px;
                 @media(min-width:768px){
                    font-size: 16px;
                 }
            }
        }
    }
}